beacons:
  inotify:
    /home/arthur/.ssh/authorized_keys:
      mask:
        - modify
        - delete_self
    /opt: {}
    interval: 5
    disable_during_state_run: True
  #load:
  #  1m:
  #    - 0.0
  #    - 2.0
  #  5m:
  #    - 0.0
  #    - 1.5
  #  15m:
  #    - 0.1
  #    - 1.0
  #interval: 10